@font-face{
    src: url(../../assets/fonts/Oswald-VariableFont_wght.ttf);
    font-family: Oswald;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif, 'Verdana', 'Arial', 'Helvetica';
}

html{
    scroll-behavior: smooth;
}

:root{
    --bg-claro: #f5f5f5;
    --bg-escuro: #1f1e1e;
    --texto-escuro: #222222;
    --texto-claro: #ffffff;
    --destaque: #0077ff;
    --destaque-hover: #66bbff;
    --destaque-escuro: #ff5522;
    --destaque-escuro-hover: #a73917;
}

body{
    line-height: 1.5em;
    background-color: var(--bg-claro);
    color: var(--texto-escuro);
    transition: background-color 0.4s, color 0.4s;
}

header{
    background-color: var(--destaque);
    color: var(--texto-claro);
    padding: 10px;
    justify-content: flex-end;
    align-content: center;
    position: fixed;
}

nav#menu ul{
    list-style: none;
    display:flex;
    gap: 60px;
}

nav#menu a{
    text-decoration: none;
    color: var(--texto-claro);
    font-weight: 400;
    padding: 12px 15px;
    transition: background-color 0.4s, color 0.4s;
}

nav#menu a:hover{
    background-color: var(--destaque-hover);
    color: var(--destaque);
    border-radius: 5px;
}

body.escuro{
    background-color: var(--bg-escuro);
    color: var(--texto-claro);
    transition: background-color 0.4s, color 0.4s;
}